#demo-1{
  border: 2px solid $purple;
  background-color: $purple;
  padding: 5px 20px 5px 20px;
  font-size: 16px;

  &:hover{
    border: 2px solid $pink;
    background-color: unset;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    color: $pink !important;
  }
}



.banner{
  height: 100vh;
  #demo{
    border: 2px solid $purple;
    background-color: $purple;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    margin-top: 20px;
    &:hover{
      border: 2px solid $pink;
      background-color: unset;
      padding: 5px 20px 5px 20px;
      font-size: 16px;
      color: $pink !important;
    }
  }

    .container-fluid{
      z-index: 100;
    }
    .text{
      height: 100vh;
        h1{
          font-size: 88px;
        }
        p{
          font-size: 24px;
          margin-bottom: 64px;
        }
        @media screen and (max-width: $md) {
          h1{
            font-size: 48px;
          }
          p{
            font-size: 18px;
          }
      }
    }

    #particles-js {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $blue;
      }
      
      .text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;


      }
      
      .img {
        display: inline-block;
        height: 100px;
        z-index: 100;
      }

      



















    // h1{
    //     font-size: 64px;
    // }
    // p{
    //     font-size: 24px;
    // }
    // .container-fluid{
    //     .row{
    //         height: 568px;
    //         background-image: url("../images/work.png");
    //         background-repeat: no-repeat;
    //         background-position: right;
    //         .background-banner{

    //         }
    //     }
    // }

}
  