.cases{
    margin-top: 48px;
    margin-bottom: 48px;
    .cases-title{
        h2{
            font-size: 48px;
        }
        p{
            font-size: 18px;
        }
    }
    .cases-item {

        .col-12{
            
            @media screen and (max-width: $md) {
                padding: 0px !important;
            }
        }
        .item-box {
            @media screen and (min-width: $md) {
                height: 350px;
            }
            width: 100%;
            padding: 24px;
        }
    }
}