.cases{
    margin-top: 48px;
    margin-bottom: 48px;
    .cases-title{
        h2{
            font-size: 48px;
        }
        p{
            font-size: 18px;
        }
    }
    .cases-box{
        height: 540px;
        width: 100%;
        padding: 24px;
    }
}