
#abrirform{

}
#fecharform{
    
}





form{
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(129, 109, 189, 0.8);
    height: 100vh;
    z-index: 999999;
    left: 50%;
    top: 50%; 
    transform: translateX(-50%) translateY(-50%);

    .define-form{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 20%;
        margin-right: 20%;
        
        background-color: white;
        z-index: 999999999;

    }

}

.form-abrir{
    display: block !important;

}
.form-fechar{
    display: none;
}



