.news{
    background-image: url(../images/black-pattern.png);
    .col-md-3{
        input{
            border: solid $blue 1px;
            width: 100%;
            border-radius: 3px;
            color: $blue;
        }
    }
    p{
        font-size: 30px;
        color: $white;
    }
    .btn {
        border-radius: 5px;
        font-weight: 600;
        padding: 5px 55px;
        border: 0;
    }
    h2{
        font-size: 22px;
    }

    .btn-cobalt-blue {
        background: unset;
        border: 2px solid $blue;
        color: $blue;
    }
    input{
        padding: 7px;
        background-color: unset;
        border: unset;
        border-bottom: solid $blue 1px
    }
    .icon-social{
        width: 30px;
        height: 30px;
        img{
            width: 20px;
            height: 20px;
        }
    }
    .voltz-tech{
        a{
            font-size: 14px;
        }
    }
}