 
    .servicos {
        @media screen and (min-width: $md) {
            margin-top: 48px;
            margin-bottom: 48px;
        }
        .servicos-titulo {
            padding-top: 24px;
            padding-bottom: 24px;

            h2 {
                font-size: 48px;
                @media screen and (min-width: $md) {
                    padding-bottom: 15px !important;
                }
            }
            p {
                font-size: 18px;
            }
        }
        .servicos-item {
            .background-loja{
                background-image: url("../images/card_servicos_lojavirtual.gif");
                
                background-size: cover;
                background-repeat: no-repeat;
            }
            .background-site{
                background-image: url("../images/card_servicos_sites.gif");
                
                background-size: cover;
                background-repeat: no-repeat;
            }
            .background-mkt{
                background-image: url("../images/card_servicos_mktdigital.gif");
                
                background-size: cover;
                background-repeat: no-repeat;
            }
            .item-loja{
                background-color: rgba(0, 0, 0, 0.01);
            }
            .item-marketing{
                background-color: rgba(0, 0, 0, 0.01);
            }
            .item-site{
                background-color: rgba(0, 0, 0, 0.01);
            }
            .col-12{
                
                @media screen and (max-width: $md) {
                    padding: 0px !important;
                }
            }
            .item-box {
                @media screen and (min-width: $md) {
                    height: 350px;
                }
                width: 100%;
                padding: 24px;
                
                .cor{

                }
            }
        }
    }


@media (min-width: 1200px) {
}
