

$white: #fff;
$blue: #102457;
$light-blue: #816DBD;
$dark-gray: #0E0E0E;
$light-gray: rgba(240,240,240,0.5);
$black: #000000;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;


$transition: .35s ease-in-out;