

$white: #fff;
$blue: #268EFC;
$light-blue: #72B5FD;
$dark-gray: #333333;
$light-gray: #CCCCCC;
$black: #000000;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;


$transition: .35s ease-in-out;