#voltz-tech{
    height: 30vh;
    .espaco-cards{
        height: 15vh;
    }
    .cards-footer{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -60%;;
    }
}